body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 1;
    position: relative;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2a76a7;
}

img {
    display: block;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.main {
    padding: 50px 0 90px;
    background: url("background.png") no-repeat center;
    background-size: cover;
}

.main h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.main .cv-list {
    margin-top: 40px;
    line-height: 1.4;
}

.main .avatar {
    margin: 40px 0 0 15px;
    float: right;
}

.main .avatar img {
    border-radius: 5px;
}

.main .cv-list a {
    border: 1px solid transparent;
    transition: 0.3s;
}

.main .cv-list a:hover {
    border-bottom-color: #2a76a7;
}

